<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/js/bootstrap.min.js}">
    <link rel="stylesheet" th:href="@{/css/Google-Style-Login-.css}">
</head>

<body>
    <div class="login-card">
        <img class="profile-img-card" th:src="@{/img/avatar_2x.png}">
            <p class="profile-name-card"> </p>
            <form class="form-signin", method="post">
                <div th:each="question : ${questions}">
                    <p th:text="${question.getQuestion()}"></p>
                    <input class="form-control" type="text" th:name="${question.getName()}" required="" placeholder="Email address" autofocus="">
                </div>
                <button class="btn btn-primary btn-lg d-block btn-signin w-100" type="submit">Finish Answer Questions</button>
            </form>
    </div>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>